@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
	--font-sans: "Public Sans", sans-serif;

	--color-green-50: #effdf5;
	--color-green-100: #d9fbe8;
	--color-green-200: #b3f5d1;
	--color-green-300: #75edae;
	--color-green-400: #00dc82;
	--color-green-500: #00c16a;
	--color-green-600: #00a155;
	--color-green-700: #007f45;
	--color-green-800: #016538;
	--color-green-900: #0a5331;
	--color-green-950: #052e16;
}

.slide-in-left {
	animation: slide-in-left 0.2s ease-out;
}
.slide-in-right {
	animation: slide-in-right 0.2s ease-out;
}
.slide-out-top {
	animation: slide-out-top 0.2s ease-out forwards;
}

@keyframes slide-in-left {
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-out-top {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	100% {
		transform: translateY(-100%);
		opacity: 1;
	}
}

.increased-click-area {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 115%;
		height: 135%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
/* Hide default number input arrows */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/* Hide scrollbar in all browsers */

/* For Firefox */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow: auto;
}

/* For Chrome, Safari and Edge */
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Edge */
}

::view-transition-old(root) {
	animation-delay: 700ms;
}
::view-transition-new(root) {
	animation: cirlce-in 700ms;
}

@keyframes cirlce-in {
	0% {
		clip-path: circle(0% at 10% 22%);
	}
	100% {
		clip-path: circle(100% at 50% 50%);
	}
	
}
