@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
	--font-sans: "Public Sans", sans-serif;

	--color-green-50: #effdf5;
	--color-green-100: #d9fbe8;
	--color-green-200: #b3f5d1;
	--color-green-300: #75edae;
	--color-green-400: #00dc82;
	--color-green-500: #00c16a;
	--color-green-600: #00a155;
	--color-green-700: #007f45;
	--color-green-800: #016538;
	--color-green-900: #0a5331;
	--color-green-950: #052e16;
}

.slide-in-left {
	animation: slide-in-left 0.2s ease-out;
}
.slide-in-right {
	animation: slide-in-right 0.2s ease-out;
}

@keyframes slide-in-left {
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.increased-click-area {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 115%;
		height: 135%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
/* Hide default number input arrows */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
