# Исключить системные и IDE-файлы
.idea
*.iml
*.log
*.swp
.DS_Store

# Исключить временные и кэш-файлы
build
.gradle
out

# Исключить Git
.git
.gitignore

# Исключить тестовые отчёты и артефакты
test-results
coverage

# Исключить другие ненужные файлы
*.bak
