@import "tailwindcss";

body {
	--animation-speed: 0.35s;
}

.slide-up {
	animation: slide-up var(--animation-speed) ease-in-out forwards;
}

@keyframes slide-up {
	0% {
		transform: translateY(20px);
		opacity: 0;
		user-select: none;
		pointer-events: none;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.slide-down {
	animation: slide-down var(--animation-speed) ease-in-out forwards;
}

@keyframes slide-down {
	0% {
		transform: translateY(0px);
		opacity: 1;
		user-select: none;
		pointer-events: none;
	}
	100% {
		transform: translateY(20px);
		opacity: 0;
	}
}
